<ul class="list-inline text-center">
  <% data.flats.each do |member, flat| %>
    <li>
      <%= image_tag "#{flat.owner_picture}", class: "img-circle avatar-large" %>
      <%= link_to "<h3>#{flat.name.capitalize}</h3>", "flats/#{member}.html" %>
    </li>
  <% end %>
</ul>
